Source: ros-jazzy-sdformat-vendor
Section: misc
Priority: optional
Maintainer: Addisu Z. Taddese <addisuzt@intrinsic.ai>
Build-Depends: debhelper (>= 9.0.0), cmake, libtinyxml2-dev, libxml2-utils <!nocheck>, pybind11-dev, python3-psutil <!nocheck>, python3-pytest <!nocheck>, ros-jazzy-ament-cmake-copyright <!nocheck>, ros-jazzy-ament-cmake-core, ros-jazzy-ament-cmake-lint-cmake <!nocheck>, ros-jazzy-ament-cmake-test, ros-jazzy-ament-cmake-vendor-package, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-gz-cmake-vendor, ros-jazzy-gz-math-vendor, ros-jazzy-gz-tools-vendor, ros-jazzy-gz-utils-vendor, ros-jazzy-urdfdom, ros-jazzy-ros-workspace
Homepage: https://github.com/gazebosim/sdformat
Standards-Version: 3.9.2

Package: ros-jazzy-sdformat-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml2-dev, pybind11-dev, ros-jazzy-gz-cmake-vendor, ros-jazzy-gz-math-vendor, ros-jazzy-gz-tools-vendor, ros-jazzy-gz-utils-vendor, ros-jazzy-urdfdom, ros-jazzy-ros-workspace
Description: Vendor package for: sdformat14 14.6.0 SDFormat is an XML file format that describes environments, objects, and robots in a manner suitable for robotic applications
